<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evo</title>
</head>
<body>
        <form action="" method="POST" name="Name">
        <center>
            <p><h2><b>RANDOM APP</b></h2></p>
            <p>{{form.name(size=30)}}</p>
        <input type="submit" name="submit" value='Добавить имя'>
        <input type="submit" name="submit" value='Удалить имя'>
        <input type="submit" name="submit" value='Выбрать случайных победителей'>
        </center>
        </form>

</body>
</html>
