<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Evo</title>
</head>
<body>

{% if error is defined %}
            <div class="alert alert-danger">
            <center>
                <strong>Укажите имя!</strong>
            </center>
            </div>
{% endif %}

{% if error_del is defined %}
            <div class="alert alert-danger">
            <center>
                <strong>Имя отсутствует!</strong>
            </center>
            </div>
{% endif %}


{% if succuss_add is defined %}
            <div class="alert alert-danger">
            <center>
                <strong>Имя {{succuss_add}} добавлено.</strong>
            </center>
            </div>
{% endif %}

{% if succuss_del is defined %}
            <div class="alert alert-danger">
            <center>
                <strong>Имя {{succuss_del}} удалено.</strong>
            </center>
            </div>
{% endif %}


        <form action="" method="POST" name="Name">
        <center>
            <p><h2><b>RANDOM APP</b></h2></p>
            <p>{{form.name(size=35, placeholder="Введите имя", class="form-control input-sm")}}</p>
        <input type="submit" name="submit" value='Добавить имя' class='btn btn-lg btn-primary'>
        <input type="submit" name="submit" value='Удалить имя' class='btn btn-lg btn-primary'>
        <input type="submit" name="submit" value='Выбрать случайных победителей' class='btn btn-lg btn-primary'>
        </center>
        </form>

</body>
</html>
