<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="" method="POST" name="Name">

            <center>
                <b><b>РАНДОМАЙЗЕР</b>

                <input type="submit" name="submit" value="Add name">
                <input type="submit" name="submit" value="Удалить имя">
                <input type="submit" name="submit" value="Выбрать случайных победителей">
            </center>
        </form>

</body>
</html>
